#mainBody {
  display: flex;
  align-items: stretch;
  margin-left: 15px;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

#navbar-pagecontent {
  width: 100%;
  margin-left: 250px;
  min-height: 100vh;
  height: 100%;
  background: url(./assets/Queen-Adam-Lambert-Live-Around-The-World-Cover-Art-Image.jpg);
}

#gradient {
  background: rgb(89, 89, 89);
  background: linear-gradient(
    180deg,
    rgba(89, 89, 89, 1) 3%,
    rgba(18, 18, 18, 1) 25%
  );
  z-index: 1;
  min-height: 200vh;
  height: 100%;
  width: 100vw;
  max-width: 100%;
  position: absolute;
  top: 450px;
  overflow: hidden;
}

@media (max-width: 1024px) {
  #gradient {
    min-height: 400vh;
  }
}

.page-content {
  position: relative;
  z-index: 99;
}

#artistSongTable {
  background: none !important;
  border: none !important;
  border-collapse: collapse !important;
}

thead,
tbody,
th,
tr,
td {
  border: none !important;
}

td,
th {
  vertical-align: middle !important;
}

tr td:nth-child(3) {
  text-align: center;
}
tr td:nth-child(4) {
  text-align: right;
}

.card {
  padding: 16px;
  background-color: #b3b3b310;
}

.navbarButtons {
  color: white;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  height: 32px;
  width: 32px;
  margin-left: 1rem;
}

.navbarDropdown {
  color: white;
  border-radius: 23px;
  background-color: rgba(0, 0, 0, 0.7);
  height: 32px;
}
.selctedSidebarItem {
  color: white !important;
  background-color: rgba(255, 255, 255, 0.2);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

#sidebar li a div {
  pointer-events: none;
}

#sidebar {
  background-color: rgb(0, 0, 0);
  min-width: 250px;
  min-height: 100vh;
  z-index: 99;
}

#spotifyLogo {
  width: 125px;
  margin: 15px 0 15px 20px;
}

#sidebar > ul > li > a {
  color: #b3b3b3;
}

hr.sidebarHr {
  color: #b3b3b3;
  background-color: #282828;
  border: none;
  height: 1px;
  min-height: 1px;
}

#sidebar .nav-link {
  padding: 0 24px;
  margin: 0;
}

#sidebar .nav-item {
  padding: 0;
  margin: 0;
}

.sidebar > h5 {
  padding: 0;
  margin: 0;
}

#sidebar > ul > li > a:hover {
  color: white !important;
}

.sidebarContainer {
  height: 24px;
  width: 150px;
}

#sidebar > ul > li.nav-item > a {
  padding-bottom: 8px;
  padding-top: 8px;
}

#sidebar > ul > li:nth-child(3) {
  padding-bottom: 42px;
}

.sideBarIconContainer {
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-right: 1rem;
}

li a div h5 {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.navbar {
  width: 100%;
}

.navUserName {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#queenContainer {
  margin-top: 160px;
}

#player {
  height: 60px;
  background-color: #181818;
  z-index: 99;
}
#player-album-image {
  height: 40px;
}
.player-album-image-container {
  display: flex;
  height: 60px;
  align-items: center;
}
.player-album {
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 0;
}
.player-artist {
  font-size: 10px;
  color: #b3b3b3;
}
.icon-size-player {
  font-size: 0.7rem;
  color: #b3b3b3;
}
.icons-player-album {
  height: 60px;
  display: flex;
  align-items: center;
  margin-left: 15px;
  color: #b3b3b3;
}
.icons-player-middle {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.timeline-player {
  display: flex;
  justify-content: center;
}

.icons-player-right {
  height: 60px;
  display: flex;
  align-items: center;
}

#musicBarContainer {
  margin-top: 0;
  display: flex;
}
.timeline-time {
  color: #b3b3b3;
  font-size: 8px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 36px;
}
div#timeline {
  width: 400px;
  height: 3px;
  background: gray;
  display: block;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

div#progress {
  width: 40px;
  height: 2px;
  background: white;
}
div#volume {
  min-width: 60px;
  height: 3px;
  margin-left: 5px;
  background: white;
  display: block;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
#bohemianRapsody-albumCover {
  max-width: 230px;
}
